<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326629197534-tvrecgcn86b5hh5asda6gm37tncutgq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326629197534-tvrecgcn86b5hh5asda6gm37tncutgq1</string>
	<key>API_KEY</key>
	<string>AIzaSyCBu8H-CZcBpY4N_C7FqFGIk-SOJUlrNcw</string>
	<key>GCM_SENDER_ID</key>
	<string>326629197534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.runwheelzExperimental</string>
	<key>PROJECT_ID</key>
	<string>runwheelz</string>
	<key>STORAGE_BUCKET</key>
	<string>runwheelz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326629197534:ios:94b38a7494e15ec210e44f</string>
</dict>
</plist>